<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>new Company</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:method="POST" th:action="@{/Allcompanies}" th:object="${company}">-->
<!--    <label for="name">Enter the name:</label>-->
<!--    <input type="text" th:field="*{companyName}" id="name"/>-->
<!--&lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name errors</div>&ndash;&gt;-->
<!--    <br>-->
<!--&lt;!&ndash;    <label for="age">Enter the age:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{courses}" id="age"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age errors</div>&ndash;&gt;-->
<!--    <br>-->
<!--    <label for="email">Enter the located country:</label>-->
<!--    <input type="text" th:field="*{locatedCountry}" id="email"/>-->
<!--&lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email errors</div>&ndash;&gt;-->
<!--    <br>-->
<!--    <input type="submit" value="Create!"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
