<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<p th:text="${company.getCompanyName()}">VALUE</p>
<p th:text="'id: '+${company.getId()} " >VALUE</p>
<p th:text="${company.getLocatedCountry()}">VALUE</p>
<p th:text="${company.getCourses()}">VALUE</p>
<a th:href="@{/companies/{id}/edit(id=${company.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/companies/{id}(id=${company.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>