<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<p th:text="${course.getCourseName()}">VALUE</p>
<p th:text="'id: '+${course.getId()} " >VALUE</p>
<p th:text="${course.getCompany()}">VALUE</p>
<p th:text="${course.getDuration()}">VALUE</p>
<p th:text="${course.getGroups()}">VALUE</p>
<p th:text="${course.getInstructors()}">VALUE</p>
<p th:text="${course.getLessons()}">VALUE</p>
<a th:href="@{/courses/{id}/edit(id=${course.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/courses/{id}(id=${course.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>